__pycache__/
*.py[cod]
*$py.class
.env
*.env
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
.vscode/
.idea/
.DS_Store
pip-log.txt
pip-delete-this-directory.txt
instance/
*.db
*.sqlite
.ipynb_checkpoints
*.bak
*.swp